%tr[assessment]
  %td.middle
    %span{:class => "assessment"}
      = link_to assessment.name, edit_scores_activities_path(:ids => assessment.activities.collect(&:id))
  %td.right     
    - assessment.assessment_tools.each do |tool|
      %div[tool]
        = render :partial => 'activities/activity', :collection => tool.activities
    %span
      = link_to_remote 'Add Activity', :url => {:controller => 'activities', :action => 'new', :assessment_id => assessment} unless assessment.sa?