%div[assessment]
  %span= assessment.name
  - assessment.assessment_tools.each do |tool|
    %div[tool]
      = render :partial => 'activities/activity', :collection => tool.activities
  = link_to 'Add Activity', '' unless assessment.sa?
		
