%div[assessment]
  %span= assessment.name
  - assessment.assessment_tools.each do |tool|
    %div[tool]
    - tool.activities.each do |activity|
      = render :partial => 'activities/activity', :object => activity
  = link_to 'Add Activity', '' unless assessment.sa?
		
