<% fields_for message do |f| %>
	<tr>
    	<th>
        	<label for="subject">
            	Subject
            </label>
        </th>
        <td>
            <%= f.text_field :subject, :size => 25  %>
        </td>
   	</tr>
	<tr>
    	<td colspan=2>
        	<%= f.text_area :body, :rows => 3, :cols => 27 %>
        </td>
   	</tr>
<%end%>
