<div id="post-message">
	<br/>
	Post an instant message...
	<% remote_form_for :message, :url => {:controller => :conversations, :action => 'create', :receiver => user } do |f| %>
	<table>
		<%=render :partial => 'messages/message_form', :locals => {:message => Message.new()}%> 
	    <tr>
	        <td colspan=2 align="right">
	            <%= submit_tag "Post" %>
	        </td>
	    </tr>
	</table>
	<%end %>
</div>