<table class="tablesorter ui-state-default" border="1px">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Admission Number
            </th>
            <th>
                Class (Level-Division)
            </th>
			<th>
				Roll Number
			 <th>
                Subjects
            </th>
        </tr>
    </thead>
    <tbody id="students" class="students">
        <% students.each do |student| %>
        <%= render :partial => 'students/student', :object => student %>
        <%end %>
    </tbody>
</table>
