<% students.group_by { |s| s.klass}.each do |klass, s| %>
<table class="students">
    <tbody id="students" class="students">
        <tr>
            <th colspan="2">
                <h2><%= if klass then link_to(klass.name, klass_path(klass)) else 'Unassigned' end  %></h2>
            </th>
        </tr>
        <% s.each do |student| %>
        <%= render :partial => 'students/student', :object => student %>
        <% end %>
    </tbody>
</table>
<% end %>
