<% if @klass %>
<div id="student_tabs" class="tabs">
    <ul>
        <li>
            <a href="#subjects-tab">Subjects</a>
        </li>
        <li>
            <a href="#exams-tab">Exams/Scores</a>
        </li>
    </ul>
	<div id="main-dialog" title="Schoolarly" class="jquery-dialog" style ="display: none;"></div>
    <div id="subjects-tab">
        <%if @current_enrollment %>
        <%= render :partial => 'subjects/subjects', :object => @current_enrollment.subjects, :locals => {:klass => @klass, :teacher_subject_allotments => @teacher_subject_allotments, :entity => @current_enrollment} %>
        <%end %>
    </div>
    <div id="exams-tab">
        <div id="exams">
			<%= render :partial => 'exam_groups/exam_groups', :object => @exam_groups, :locals => {:student_enrollment => @student_enrollment} %>
        </div>
    </div>
</div>
<%end %>