<% remote_form_for :mail, :url => {:controller => :conversations, :action => 'create', :users => users } do |f| %>
<%= f.error_messages %>
	<table class="center">
		<tr>
			<th>
               	<label for="user_ids">To</label>
           	</th>
	           <td>
				<%= collection_multiple_select(:mail, 'user_ids', users, :id, :name, {:outer_class => 'multiple_select', :inner_class => 'multiple_select_checkbox'}) %>
	           </td>
		</tr>
		<%=render :partial => 'messages/message_form', :locals => {:message => Message.new()}%>
	</table>
	<div class="center">
		<%= submit_tag "Post" %>
	</div>
<%end %>
