<tr id="subject-<%= teacher_subject_allotment.subject.id%>">
    <td>
        <%= teacher_subject_allotment.subject.name %>
    </td>
    <td>
		<%if !teacher_subject_allotment.klasses.empty? %>
        	<%=teacher_subject_allotment.klasses.index_by{|klass| klass.name}.keys.join(", ")%>
	    <%end %>
    </td>
    <td>
        <%= link_to_remote 'Add/Remove Classes', :url => {:action => 'edit_klass_allotments', :id => teacher_subject_allotment}, :method => :get, :html => {:title => 'Add/Remove Classes', :class => "ui-icon ui-icon-pencil"} %>
    </td>
</tr>
