<tr id="paper-<%= teacher_allotment.id%>">
    <td>
        <%= link_to teacher_allotment.klass.name, klass_path(teacher_allotment.klass) %>
    </td>
	<td>
        <%= teacher_allotment.students.size%>
    </td>
	<td class="ui-state-focus">
        <%= link_to_remote "Delete", :url => {:controller => 'teachers', :action => 'remove_paper', :id => teacher_allotment}, :html => {:class => "ui-icon ui-icon-trash", :title => 'Remove Allotment'}, :confirm => 'Are you sure?' %>
    </td>
</tr>
