<%if !render_message_if_empty(teacher_subject_allotments, message_if_empty_allotments).nil?%>
	<%=	render :text => render_message_if_empty(teacher_subject_allotments, message_if_empty_allotments)%>
<%else%>
	<table id="subjects" class="ui-state-default" border="1px">
	    <tr>
	        <th>
	            Subject
	        </th>
	        <th>
	            Classes
	        </th>
	    </tr>
	    <% teacher_subject_allotments.each do |teacher_subject_allotment| %>
			<%= render :partial => 'teacher_allotments/teacher_allotment', :locals => {:teacher_subject_allotment => teacher_subject_allotment} %>
	    <%end %>
	</table>
<%end%>
