body {
    margin: 0 auto;
    padding: 0;
    font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    color: #222;
    background: #e5e5e5;
    text-align: center;
}

/* Baseline */
table {
    border-collapse: collapse;
    width: 100%;
}

table .left {
    font-size: 28px;
    width: 20%;
}

table .right * {
    font-size: 11px;
    margin-bottom: 4px;
}

div#Header {
    background: #036;
    padding: 10px 23px 0 30px;
    margin: 0;
    text-align: left;
    position: relative;
    overflow: hidden;
    min-width: 900px;
}

div#Header h1 {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    color: #fc0;
    text-align: left;
}

div#Header .crumbs {
    margin: 0px 30px;
    display: inline;
}

div#Header .crumb {
    margin-right: 20px;
    display: inline;
    font-size: 14px;
    color: #EFEFEF;
}

div#Header .crumb a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

div.wrapper {
    background: #e5e5e5;
    padding: 12px 23px 0 30px;
    margin: 0 auto;
    min-width: 800px;
}

div.page_header {
    padding: 13px 30px 13px 24px;
    background-color: #edf3fe;
    margin: 0px 0px 5px;
}

a.pane-link {
    font-size: 11px;
    line-height: 20px;
    margin-top: 0px;
    white-space: nowrap;
}

a.pane-link.active {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.Left {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 68%;
    float: left;
}

.Left .col {
    padding: 0 8px 0 0;
    background: #fff url(/images/right-bg.gif) right repeat-y;
}

.Left .innercol {
    padding: 15px 60px 20px 23px;
}

.Left .bottom {
    background: url(/images/bottom-bg.gif) top right no-repeat;
    font-size: 8px;
    padding: 12px 0 20px 20px;
}

.Right {
    margin: 0;
    padding: 0;
    text-align: left;
    float: left;
    width: 32%;
}

#Tabs {
    clear: left;
    margin: 15px 0 0 0;
    padding: 0;
    height: 24px;
}

#Tabs ul {
    margin: 0;
    padding: 0;
}

#Tabs li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
    border: none;
}

#Tabs a:link, #Tabs a:visited {
    text-decoration: none;
    border: 1px solid #036;
    color: #fff;
    background-color: #939DAC;
    border-bottom: 1px solid #939DAC;
    float: left; /* for IE6 */
    font-size: 12px;
    font-weight: normal;
    padding: 3px 8px 5px 8px;
    margin: 0;
}

#Tabs ul#header {
    float: right;
}

#Tabs li a.current {
    border: 1px solid #036;
    border-bottom: 1px solid #1A4F85;
    font-size: 12px;
    background: #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 3px 8px 5px 8px;
    color: #090;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
}

#Tabs a:hover {
    color: #fff;
    background: #010a4b;
    border-bottom: 1px solid #010a4b;
}

table.students {
    margin-bottom: 30px;
    width: 100%;
}

table.students tr {
    padding-bottom: 5px;
}

table.students td.left {
    font-size: 20px;
    width: 40%;
}

table.students td.right * {
    font-size: 11px;
    margin-bottom: 4px;
}

table.students td.left .detail {
    font-size: 9px;
    margin-bottom: 4px;
    padding-left: 20px;
}

table.students td.left .detail h4 {
    margin: 0px;
    font-weight: normal;
}

table.students .subject {
    background-color: black;
    color: white;
    padding: 2px 4px;
}

table.students th {
    border-bottom: 1px solid #dcdcdc;
    border-bottom: 1px solid #bbb;
    background: #e8e8e8;
    padding: 3px 5px;
}

table.students th h2 {
    display: block;
    padding: 0px;
    font-size: 11px;
    margin: 0px;
}

table.teachers {
    margin-bottom: 30px;
    width: 100%;
}

table.teachers tr {
    padding-bottom: 5px;
}

table.teachers td.left {
    font-size: 18px;
    width: 30%;
}

table.teachers td.left .detail {
    font-size: 9px;
    margin-bottom: 4px;
    padding-left: 20px;
}

table.teachers td.left .detail h4 {
    margin: 0px;
    font-weight: normal;
}

table.teachers td.right * {
    font-size: 11px;
    margin-bottom: 4px;
}

table.teachers .klass {
    background-color: black;
    color: white;
    padding: 2px 0px 2px 4px;
    margin-right: 2px;
}

table.teachers .subject {
    background-color: grey;
    color: white;
    padding: 2px 4px;
    margin-left: 4px;
}

table.teachers th {
    border-bottom: 1px solid #dcdcdc;
    border-bottom: 1px solid #bbb;
    background: #e8e8e8;
    padding: 3px 5px;
}

table.teachers th h2 {
    display: block;
    padding: 0px;
    font-size: 11px;
    margin: 0px;
}

table.klasses {
    margin-bottom: 30px;
    width: 100%;
}

table.klasses tr {
    padding-bottom: 4px;
    border-bottom: grey;
    border-bottom-style: dashed;
    border-bottom-width: thin;
}

table.klasses td.left {
    font-size: 28px;
    width: 25%;
}

table.klasses td.left a {
    text-decoration: none;
}

table.klasses td.left .detail {
    font-size: 9px;
    padding-left: 20px;
}

table.klasses td.left .detail a {
    text-decoration: underline;
}

table.klasses .level {
    background-color: black;
    color: white;
    padding: 2px 0px 2px 4px;
    margin-right: 2px;
}

table.klasses .division {
    background-color: grey;
    color: white;
    padding: 2px 4px;
    margin-left: 4px;
}

table.klasses .subject {
    background-color: grey;
    color: white;
    padding: 2px 4px;
}

table.klasses td.right * {
    font-size: 11px;
    margin-bottom: 4px;
}

table.exams {
    margin-bottom: 30px;
    width: 100%;
}

table.exams tr {
    padding-bottom: 4px;
}

table.exams .heading * {
    font-size: 11px;
    background: grey;
    color: white;
    vertical-align: middle;
}

table.exams td.left {
    font-size: 18px;
    width: 30%;
}

table.exams .subject {
    background-color: grey;
    color: white;
    padding: 2px 4px;
}

table.exams td.right * {
    font-size: 11px;
    margin-bottom: 4px;
}

table.exams .date {
    background-color: green;
    color: white;
    padding: 2px 0px 2px 4px;
    margin-right: 2px;
}

table.exams .time {
    background-color: red;
    color: white;
    padding: 2px 4px;
    margin-left: 4px;
}

table.papers {
    margin-bottom: 30px;
    width: 100%;
}

table.papers tr {
    padding-bottom: 4px;
}

table.papers td.left {
    font-size: 18px;
    width: 20%;
}

table.papers td.right, table.papers td.left {
    border-width: 1px;
    border-style: dotted;
    border-color: #E5E5E5;
}

table.papers td.right * {
    font-size: 11px;
    margin-bottom: 4px;
}

table.papers td.left .detail {
    font-size: 9px;
    margin-bottom: 4px;
    padding-left: 20px;
    background-color: #E5E5E5;
}

table.papers .klasses a {
    text-decoration: none;
    color: white;
    padding: 2px 4px;
}

table.papers .papers-odd .klasses a {
    background-color: black;
}

table.papers .papers-even .klasses a {
    background-color: grey;
}

table.klass-exams tr {
    border-bottom: solid 1px;
}

table.klass-exams .level {
    background-color: black;
    color: white;
    padding: 2px 0px 2px 4px;
    margin-right: 2px;
}

table.klass-exams .division {
    background-color: grey;
    color: white;
    padding: 2px 4px;
    margin-left: 4px;
}

table.klass-exams td.left a {
    text-decoration: none;
}

div.message {
    margin-bottom: 40px;
    border-width: 1px;
    border-color: #ccc;
    border-style: solid;
}

div.message .heading {
    font-size: 10px;
    margin: 5px 0px;
    color: #666;
}

div.message .subject {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    background: #e5e5e5;
}

div.message .body {
    font-size: 15px;
    margin-bottom: 5px;
}

div.message .actions {
    font-size: 10px;
    margin: 4px 0px;
}

div.message .actions a {
    padding: 0px 4px;
}

table.profile {
    margin-bottom: 30px;
    width: 100%;
}

table.profile tr {
    padding-bottom: 4px;
}

table.profile .heading * {
    font-size: 11px;
    background: grey;
    color: white;
    vertical-align: middle;
}

table.profile td.left {
    font-size: 12px;
    width: 30%;
    font-weight: bold;
    color: grey;
}

table.profile td.right * {
    font-size: 12px;
    margin-bottom: 4px;
}

table.profile td.middle {
    width: 0;
}

table.scores {
    width: 100%;
}

table.scores tr {
    border-bottom-style: solid;
	border-bottom-width: thin;
}

table.scores .heading * {
    font-size: 14px;
    background: black;
    color: white;
    vertical-align: middle;
}

table.scores td.left {
    font-size: 14px;
    width: 20%;
}

table.scores .subject {
    background-color: grey;
    color: white;
    vertical-align: middle;
}

table.scores td.right * {
    font-size: 14px;
    vertical-align: middle;
}

table.scores .activity {
    background-color: grey;
    color: white;
    padding: 2px 0px 2px 4px;
    margin-right: 20px;
    vertical-align: middle;
}

table.scores .score {
    background-color: #F5DFAC;
    color: black;
   padding: 2px 0px 2px 4px;
    margin-left: 4px;
    vertical-align: middle;
}

table.scores .average {
    background-color: darkgrey;
    color: white;
    padding: 2px 4px;
    margin-left: 4px;
    vertical-align: middle;
}

table.scores .emphasis {
    font-weight: bolder;
}

table.sep {
    background-color: #F6EFE1;
}

table.sep tr:even {
    background-color: white;
}

table.sep .heading {
    background-color: gray;
    color: black;
}

table.sep .sub-heading {
    background-color: #F5DFAC;
}

.print {
    padding: 10px 10px;
    text-align: right;
}

#notice {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 68%;
    background-color: #003366;
    color: grey;
    font-weight: bolder;
    padding: 12px;
    text-align: center;
}

.inputs li {
    width: 30%;
    display: inline;
    padding-right: 10px;
}

.inputs li input {
    width: 30px;
}

li.datetime li {
    width: 20%;
    display: inline;
}

/* multiselect styles */
.multiselect {
    width: 460px;
    height: 200px;
}

/* css for timepicker */
#ui-timepicker-div dl {
    text-align: left;
}

#ui-timepicker-div dl dt {
    height: 25px;
}

#ui-timepicker-div dl dd {
    margin: -25px 0 10px 65px;
}
* /