body {
    margin: 0 auto;
    padding: 0;
    font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    color: #222;
    background: #e5e5e5;
    text-align: center;
}

div#Header {
    background: #036;
    padding: 10px 23px 0 30px;
    margin: 0;
    text-align: left;
    position: relative;
    overflow: hidden;
    min-width: 900px;
}

div#Header h1 {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    color: #fc0;
    text-align: left;
}

div.wrapper {
    background: #e5e5e5;
    padding: 12px 23px 0 30px;
    margin: 0 auto;
    min-width: 800px;
} .Left {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 68%;
    float: left;
} .Left .col {
    padding: 0 8px 0 0;
    background: #fff url(/images/right-bg.gif) right repeat-y;
} .Left .innercol {
    padding: 15px 60px 20px 23px;
} .Left .bottom {
    background: url(/images/bottom-bg.gif) top right no-repeat;
    font-size: 8px;
    padding: 12px 0 20px 20px;
} .Right {
    margin: 0;
    padding: 0;
    text-align: left;
    float: left;
    width: 32%;
} #Tabs {
    clear: left;
    margin: 15px 0 0 0;
    padding: 0;
    height: 24px;
} #Tabs ul {
    margin: 0;
    padding: 0;
} #Tabs li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
    border: none;
} #Tabs a:link, #Tabs a:visited {
    text-decoration: none;
    border: 1px solid #036;
    color: #fff;
    background-color: #939DAC;
    border-bottom: 1px solid #939DAC;
    float: left; /* for IE6 */
    font-size: 12px;
    font-weight: normal;
    padding: 3px 8px 5px 8px;
    margin: 0;
} #Tabs ul#header {
    float: right;
} #Tabs li.active a {
    border: 1px solid #036;
    border-bottom: 1px solid #1A4F85;
    font-size: 12px;
    background: #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 3px 8px 5px 8px;
    color: #090;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
} #Tabs a:hover {
    color: #fff;
    background: #010a4b;
    border-bottom: 1px solid #010a4b;
}

table.students {
    margin-bottom: 30px;
    width: 100%;
}

table.students tr {
    padding-bottom: 5px;
}

table.students td.left {
    font-size: 20px;
    width: 40%;
}

table.students td.right * {
    font-size: 11px;
    margin-bottom: 4px;
}

table.students td.left .detail {
    font-size: 9px;
    margin-bottom: 4px;
    padding-left: 20px;
}

table.students td.left .detail h4 {
    margin: 0px;
    font-weight: normal;
}

table.students .subject {
    background-color: black;
    color: white;
    padding: 2px 4px;
}

table.students th {
    border-bottom: 1px solid #dcdcdc;
    border-bottom: 1px solid #bbb;
    background: #e8e8e8;
    padding: 3px 5px;
}

table.students th h2 {
    display: block;
    padding: 0px;
    font-size: 11px;
    margin: 0px;
}

table.teachers {
    margin-bottom: 30px;
    width: 100%;
}

table.teachers tr {
    padding-bottom: 5px;
}

table.teachers td.left {
    font-size: 18px;
    width: 30%;
}

table.teachers td.left .detail {
    font-size: 9px;
    margin-bottom: 4px;
    padding-left: 20px;
}

table.teachers td.left .detail h4 {
    margin: 0px;
    font-weight: normal;
}

table.teachers td.right * {
    font-size: 11px;
    margin-bottom: 4px;
}

table.teachers .klass {
    background-color: black;
    color: white;
    padding: 2px 0px 2px 4px;
    margin-right: 2px;
}

table.teachers .subject {
    background-color: grey;
    color: white;
    padding: 2px 4px;
    margin-left: 4px;
}

table.teachers th {
    border-bottom: 1px solid #dcdcdc;
    border-bottom: 1px solid #bbb;
    background: #e8e8e8;
    padding: 3px 5px;
}

table.teachers th h2 {
    display: block;
    padding: 0px;
    font-size: 11px;
    margin: 0px;
}

table.klasses {
    margin-bottom: 30px;
    width: 100%;
}

table.klasses tr {    
	padding-bottom: 4px;
}

table.klasses td.left {
    font-size: 28px;
    width: 15%;
}

table.klasses td.left a {
	text-decoration: none;
}

table.klasses .level {
    background-color: black;
    color: white;
    padding: 2px 0px 2px 4px;
    margin-right: 2px;
}

table.klasses .division {
    background-color: grey;
    color: white;
    padding: 2px 4px;
    margin-left: 4px;
}

table.klasses .subject {
    background-color: grey;
    color: white;
    padding: 2px 4px;
}

table.klasses td.right * {
    font-size: 11px;
    margin-bottom: 4px;
}

/* Baseline */
table {
    border-collapse: collapse;
}
