/*
 * Breadcrumbs
 */
ul#crumbs, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

 #crumbs li a:hover, #crumbs li a:focus {
    color: #dd2c0d;
} #breadcrumbs {
    padding-bottom: 10px;
} #crumbs {
    height: 1.5em;
    border: 1px solid #dedede;
} #crumbs li {
    float: left;
    line-height: 1.5em;
    color: #777;
    padding-left: .75em;
} #crumbs li a {
    background: url(../images/crumbs.gif) no-repeat right center;
    display: block;
    padding: 0 15px 0 0;
    font-weight: bold;
} #crumbs li a:link, #crumbs li a:visited {
    color: #777;
    text-decoration: none;
}