#footer {
	text-align:center;
}

/*
 * jquery related css
 */
/*
 * for dialog widget
 */ .sticker {
    list-style-type: none;
    margin: 0;
    padding: 0;
} .sticker td {
    margin: 3px;
    padding: 1px;
    float: left;
    width: 70px;
    height: 45px;
    font-size: 1.5em;
    text-align: center;
}.sticker th {
    width: 100px;
    font-size: 1.5em;
}

/*
 * selectables
 */ 
 
 #feedback {
    font-size: 1.4em;
} #selectable .ui-selecting {
    background: #FECA40;
} #selectable .ui-selected {
    background: #F39814;
    color: white;
} #selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
} #selectable td {
    margin: 3px;
    padding: 1px;
    float: left;
    width: 70px;
    height: 45px;
    font-size: 1.5em;
    text-align: center;
}

/*
 * for button
 */ .button {
    float: right;
    padding: .5em 1em;
    text-decoration: none;
}

.auto_complete ul li { list-style-type: none; }
 
.nested {
 	border:none;
	margin:0;
	
 }
.nested tbody td {
border-bottom:none;
}

.nested td {
 	text-align:center;
	vertical-align:middle;
	padding-bottom:0;
	padding-top:0.5em;
 }
.nested .list-line-main {
background: #E0ECF8;
}
.nested .list-line-even {
background: #B1EBF5;
}
table.nested .list-line-odd {
background: #E0F8FC;
}