<div id="users_tabs" class="tabs">
    <ul>
        <li>
            <a href="#schools-tab">Schools</a>
        </li>
        <li>
            <a href="#students-tab">Students</a>
        </li>
        <li>
            <a href="#teachers-tab">Teachers</a>
        </li>
    </ul>
    <div id="schools-tab">
        <%= render :partial => 'users', :object => @schools %>
    </div>
    <div id="students-tab">
        <%= render :partial => 'students/students', :object => @students %>
    </div>
    <div id="teachers-tab">
        <%=render :partial => 'teachers/teachers', :object => @teachers, :locals => {:subjects => @subjects} %>
    </div>
</div>