
<p>
    <%=link_to_remote 'Create Event', :url => {:controller => :events, :action => :new} %>
</p>
<script>
    
    
    jQuery(document).ready(function(){
        // page is now ready, initialize the calendar...
        jQuery('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultView: 'agendaWeek',
            height: 500,
            slotMinutes: 15,
            events: "/events/index",
            timeFormat: 'h:mm t{ - h:mm t} ',
            dragOpacity: "0.5",
            eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
                alterEvent(event, dayDelta, minuteDelta);
            },
            
            eventResize: function(event, dayDelta, minuteDelta, revertFunc){
                alterEvent(event, dayDelta, minuteDelta);
            },
            
            eventClick: function(event, jsEvent, view){
				editEvent(event.id);
			}
        });
    });
</script>
<div>
    <div id='calendar'>
    </div>
</div>
