%div[assessment_tool]
  = render :partial => 'activities/activity', :collection => assessment_tool.activities
  - if @student
    - if (score =  assessment_tool.scores.of_student(@student.id) and assessment_tool.assessment.fa?) 
      -if assessment_tool.average_score_for(@student)
        %div.average 
          Average :
          %span.score="#{assessment_tool.average_score_for(@student)}/#{assessment_tool.assessment_group.max_score}" 
        %div.average
          ="Weighted Average(#{assessment_tool.weightage}%)"
          %span.score=assessment_tool.weighted_average_for(@student)