<% user_profile_partial = (permitted_to? :manage, profile) ? 'user_profiles/edit_user_profile' : 'user_profiles/user_profile' %>
<% person_partial = (permitted_to? :manage, profile.user.person) ? 'user_profiles/edit_' + profile.user.person_type.downcase : 'user_profiles/' + profile.user.person_type.downcase %>
<div>
    <%= render :partial => user_profile_partial, :object => profile %>
</div>
<div>
    <%= render :partial => person_partial, :object => profile.user.person %>
</div>
