<%teacher=@person %>
<table id="editlist">
<%if !teacher.qualifications.nil? && !teacher.qualifications.empty? %>
	<%@qualifications = teacher.qualifications %>
	
	    <tr>
	        <th>
	            Delete
	        </th>
	        <th>
	            University
	        </th>
	        <th>
	            Degree
	        </th>
	        <th>
	            Subject
	        </th>
	        <th>
	            Date
	        </th>
	    </tr>
	    <fieldset>
	        <%@cb=[] %>
			<%= render :partial => 'qualification_item', :collection => @qualifications %>
	    </fieldset>

<%else %>
<tr>
	<td></td>
	<td>
		<blockquote>
	    	Qualification Details Unavailable
		</blockquote>
	</td>
	<td></td>
	<td></td>
	<td></td>
	
</tr>	
<%end %>
	</table>