<%teacher=@person %>
<%if !teacher.qualifications.nil? && !teacher.qualifications.empty? %>
	<%@qualifications = teacher.qualifications %>
	<table id="editlist">
	    <tr>
	        <th>
	            Delete
	        </th>
	        <th>
	            University
	        </th>
	        <th>
	            Degree
	        </th>
	        <th>
	            Subject
	        </th>
	        <th>
	            Date
	        </th>
	    </tr>
	    <fieldset>
	        <%@cb=[] %>
	        <%for @qualification in @qualifications %>
	        	<%= render :partial => 'qualification_item', :object => @qualification %>
	        <%end %>
	    </fieldset>
	</table>
<%else %>
	<blockquote>
	    Qualification Details Unavailable
	</blockquote>
<%end %>
