    <table class="ui-state-default center">
    	<caption>School Details</caption>
    	<tr>
            <td>
                <b>Name:</b>
            </td>
            <td>
                <%=h school.name %>
            </td>
        </tr>    	
        <tr>
            <td>
                <b>Board:</b>
            </td>
            <td>
                <%=h school.board %>
            </td>
        </tr>
        <tr>
            <td>
                <b>Fax:</b>
            </td>
            <td>
                <%=h school.fax %>
            </td>
        </tr>
        <tr>
            <td>
                <b>Website:</b>
            </td>
            <td>
                <%=h school.website %>
            </td>
        </tr>
    </table>
