<table class="profile">
    <tr class="heading">
        <th colspan="2">
            <h1>About Me</h1>
        </th>
    </tr>
    <tr>
        <td class="left">
            Board:
        </td>
        <td class="right">
            <%=h school.board %>
        </td>
    </tr>
    <tr>
        <td class="left">
            Fax:
        </td>
        <td class="right">
            <%=h school.fax %>
        </td>
    </tr>
    <tr>
        <td class="left">
            Website:
        </td>
        <td class="right">
            <%=h school.website %>
        </td>
    </tr>
	<tr>
        <td class="left">
            Current Academic Year:
        </td>
        <td class="right">
            <%=h school.academic_year.start_date.strftime('%B, %Y') + ' - ' + school.academic_year.end_date.strftime('%B, %Y') %>
        </td>
    </tr>
</table>
