    <table class="ui-state-default">
    	<caption>School Details</caption>
    	<tr>
            <th>
                <b>Name:</b>
            </th>
            <td>
                <%=h @person.name %>
            </td>
        </tr>    	
        <tr>
            <th>
                <b>Board:</b>
            </th>
            <td>
                <%=h @person.board %>
            </td>
        </tr>
        <tr>
            <th>
                <b>Fax:</b>
            </th>
            <td>
                <%=h @person.fax %>
            </td>
        </tr>
        <tr>
            <th>
                <b>Website:</b>
            </th>
            <td>
                <%=h @person.website %>
            </td>
        </tr>
    </table>
