<%if @person.school %>
<table class="ui-state-default">
	<caption>Student Details</caption>  
    <tr>
        <td>
            <b>School:</b>
        </td>
        <td>
            <%=link_to @person.school.name, school_path(@person.school) %>
        </td>
    </tr>
    <tr>
        <td>
            <b>Admission Number:</b>
        </td>
        <td>
            <%=h @person.admission_number %>
        </td>
    </tr>
    <%if @person.current_enrollment %>
    <tr>
        <td>
            <b>Class:</b>
        </td>
        <td>
            <%=h @person.current_enrollment.klass.name %>
        </td>
    </tr>
    <%end %>
</table>
<%end %>