<table class="ui-state-default center">
	<caption>Student Details</caption>  
	<%if student.school %>
    <tr>
        <td>
            <b>School:</b>
        </td>
        <td>
            <%=link_to student.school.name, school_path(student.school) %>
        </td>
    </tr>
    <tr>
        <td>
            <b>Admission Number:</b>
        </td>
        <td>
            <%=h student.admission_number %>
        </td>
    </tr>
	<tr>
        <td>
            <b>Class:</b>
        </td>
    <%if student.klass %>
        <td>
            <%=link_to student.klass.name, klass_path(student.klass) %>
        </td>
	<%else%>
        <td>
            <blockquote>Not yet enrolled to any class</blockquote>
        </td>	
    <%end %>		
    </tr>
<%else%>
<tr>
	<td colspan=2>
		<blockquote>Student Details Unavailable</blockquote>
	</td>
</tr>
<%end %>
</table>