<table class="profile">
	<tr class="heading">
        <th colspan="2">
            <h1>About Me</h1>
        </th>
    </tr>
	<%if student.school %>
    <tr>
        <td class="left">
            School:
        </td>
        <td class="right">
            <%=link_to student.school.name, school_path(student.school) %>
        </td>
    </tr>
    <tr>
        <td class="left">
            Admission Number:
        </td>
        <td class="right">
            <%=h student.admission_number %>
        </td>
    </tr>
	<tr>
        <td class="left">
            Class:
        </td>
        <td class="right">
        	<%if student.klass %>
            	<%=link_to student.klass.name, klass_path(student.klass) %>
			<%else%>
				Not yet enrolled to any class
			<%end %>
        </td>
    </tr>
<%else%>
<tr>
	<td colspan=2>
		Not yet admitted to any school
	</td>
</tr>
<%end %>
</table>