<% fields_for :person do |teacher| %>
<%= teacher.error_messages %>
	 <table class="ui-state-default center">
		<caption>Teacher Details</caption>
	    <tr>
	        <td>
	            <b><%= teacher.label :qualifications %>:</b>
	        </td>
	        <td>
	            <%= teacher.text_area :qualifications, :rows => 9%>
	        </td>
	    </tr>
	</table>
<%end %>
