<table class="ui-state-default center">
    <caption>
        Teacher Details
    </caption>
    <tr>
        <td>
            <b>Qualifications:</b>
        </td>
        <td>
            <%=h teacher.qualifications %>
        </td>
    </tr>
</table>
