<table>
	<%if teacher.qualifications.nil? || teacher.qualifications.empty?%>
		<tr><td><blockquote>Teacher Details Unavailable</blockquote></td></tr>
	<%else%>
    <tr>
        <td>
            <b>Qualifications:</b>
        </td>
        <td>
            <%=h teacher.qualifications %>
        </td>
    </tr>
	<%end%>
</table>
