<table class="profile">
	<tr class="heading">
        <th colspan="2">
            <h1>About Me</h1>
        </th>
    </tr>
    <tr>
        <td class="left">
            Qualifications:
        </td>
        <td class="right">
            <%=h teacher.qualifications %>
        </td>
    </tr>
</table>
