	<table class="ui-state-default center">
		<caption>Qualification Details</caption>    
	<%if !@person.qualifications.nil? && !@person.qualifications.empty?%>
			<tr>
		    	<th>University</th><th>Degree</th><th>Subject</th><th>Date</th>
			</tr>
			<%@person.qualifications.each do |qualification|%> 
			<tr>
		            <td>
		                <%=h qualification.university%>
		            </td>
		            <td>
		                <%=h qualification.degree%>
		            </td>
		            <td>
		                <%=h qualification.subject%>
		            </td>
		            <td>
		                <%=h qualification.date%>
		            </td>
		    </tr>
		   	<%end%>
	<%else%> 
		<tr>
			<td>
				<blockquote>
	    			Qualification Details Unavailable
				</blockquote>
			</td>
		</tr>
	<%end%>
</table>