   <table class="ui-state-default center">
    	<caption>Login Details</caption>
        <tr>
            <td>
                <b>Email:</b>
            </td>
            <td>
                <%=h user.email %>
            </td>
        </tr>
    </table>