<table class="profile">
	<tr>
        <td class="left">
            Email:
        </td>
        <td class="right" colspan="2">
            <%=h user.email %>
        </td>
    </tr>
</table>
