<div>
    <%= render :partial => "user_profiles/user_profile", :object => @user_profile %>
</div>
<div>
    <%= render :partial => "user_profiles/" + @user.person_type.downcase, :object => @person %>
</div>
<div>
    <%= render :partial => "user_profiles/user", :object => @user %>
</div>

<% render_actions do |add| %>
<% add.link 'Edit', {:controller => :user_profiles, :action => 'edit', :id => @user} if @user == current_user %>
<% end %>
