<table id="subjects" class="ui-state-default" border="1px">
    <tr>
        <th>
            Subject
        </th>
        <th>
            Taught by
        </th>
    </tr>
    <% subjects.each do |subject| %>
    <%= render :partial => 'subjects/subject', :object => subject, :locals => {:klass => klass, :teacher_allotment => teacher_allotments[subject.id]} %>
    <%end %>
</table>
