<table class="subjects">
    <tr>
        <th>
            Subject
        </th>
        <th>
            Taught by
        </th>
    </tr>
    <% subjects.each do |subject| %>
    <% render :partial => 'subjects/subject', :object => subject, :locals => {:teacher_allotment => teacher_allotments[subject]} %>
    <%end %>
</table>
