<table id="paper" class="paper">
<% papers.each do |subject, allotments| %>
	<tr id="subject-<%= subject.id%>">
		<td class="left">
			<div class="subjects"><%=subject.name %></div>
		</td>
		<td class="right">
		<% allotments.each do |paper| %>
			<%= render :partial => 'teachers/paper', :object => paper %>
		<% end %>
		</td>
	</tr>
<% end %>
</table>