<div id="paper-<%= paper.id%>">
	<span class="klasses"><%= link_to paper.klass.name, klass_path(paper.klass) %>
		<span class="students detail"><%= pluralize(paper.students.size, 'student')%></span>
	</span>
	<span><%= link_to_remote "Delete", :url => {:controller => 'teachers', :action => 'remove_teacher_allotment', :id => paper}, :html => {:title => 'Remove Allotment', :class => "ui-icon ui-icon-trash"}, :confirm => 'Are you sure?' %></span>
</div>