<table class="teachers">
    <tbody id="teachers">
        <% teachers.each do |teacher| %>
			<%= render :partial => 'teachers/teacher', :object => teacher %>
         <%end %>
    </tbody>
</table>
