<%if teachers.nil? || teachers.empty? %>
<blockquote>
    No teacher exists. Click on the <b>Invite Teacher</b>
    link on the right to invite teachers.
</blockquote>
<%else %>
<table class="ui-state-default" border="1px">
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
			<%if controller.controller_name=='users'%>
				<th>
                	School
            	</th>
			<%end%>
            <th>
                Owns
            </th>
			<th>
				Subjects
			</th>
			<td colspan=2></td>
        </tr>
    <tbody id="teachers">
        <% teachers.each do |teacher| %>
			<%= render :partial => 'teachers/teacher', :object => teacher, :locals => {:active_cntrlr => (@active_cntrlr.nil?) ? controller.controller_name : @active_cntrlr} %>
         <%end %>
    </tbody>
</table>
<%end%>