<table class="ui-state-default" border="1px">
    <caption>
        Teachers of <%=@school.name %>
        <br/>
    </caption>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Owns
            </th>
            <th>
                Allotments
            </th>
        </tr>
    </thead>
    <tbody>
        <% teachers.each do |teacher| %>
			<%= render :partial => 'teachers/teacher', :object => teacher %>
         <%end %>
    </tbody>
</table>
