<%if !render_message_if_empty(teachers, message_if_empty_teachers).nil?%>
	<%=	render :text => render_message_if_empty(teachers, message_if_empty_teachers)%>
<%else%>
	<table class="ui-state-default" border="1px">
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
			<%if active_controller != 'schools'%>
				<th>
                	School
            	</th>
			<%end%>
            <th>
                Owns
            </th>
			<th>
				Subjects
			</th>
			<td colspan=2></td>
        </tr>
    <tbody id="teachers">
        <% teachers.each do |teacher| %>
			<%= render :partial => 'teachers/teacher', :object => teacher, :locals => {:active_cntrlr => (@active_cntrlr.nil?) ? controller.controller_name : @active_cntrlr} %>
         <%end %>
    </tbody>
</table>
<%end%>