<table class="ui-state-default" border="1px">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Owns
            </th>
			<th>
				Subjects
			</th>
        </tr>
    </thead>
    <tbody id="teachers">
        <% teachers.each do |teacher| %>
			<%= render :partial => 'teachers/teacher', :object => teacher, :locals => {:subjects => subjects} %>
         <%end %>
    </tbody>
</table>
