<table class="ui-state-default" border="1px">
	<thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
			<!-- TODO page context -->
			<%if active_controller != 'schools'%>
				<th>
                	School
            	</th>
			<%end%>
            <th>
                Owns
            </th>
			<th>
				Subjects
			</th>
        </tr>
	</thead>
    <tbody id="teachers">
        <% teachers.each do |teacher| %>
			<%= render :partial => 'teachers/teacher', :object => teacher %>
         <%end %>
    </tbody>
</table>
