<div id="teacher_tabs" class="tabs">
   <ul>
        <li>
            <a href="#subjects-tab">Subjects/Classes</a>
        </li>
        <li>
            <a href="#exams-tab">Exams</a>
        </li>
    </ul>
	<div id="main-dialog" title="Schoolarly" class="jquery-dialog" style ="display: none;"></div>
    <div id="subjects-tab">
        <%if !@teacher.school %>
        <blockquote>
            The teacher currently does not belong to any school.
        </blockquote>
        <%else %>
			<div id="allotments">
	        	<%= render :partial => 'teacher_allotments/teacher_allotments', :locals => {:teacher_subject_allotments => @teacher.current_subject_allotments} %>
			</div>
        <%end %>
    </div>
    <div id="exams-tab">
        <%if !@teacher.school %>
        <blockquote>
            The teacher currently does not belong to any school.
        </blockquote>
		<%else%>
			<div id="exams">
        		<%= render :partial => 'exams/exams', :object => @exams, :locals => {:entity => @teacher} %>            
        	</div>
        <%end %>
    </div>
</div>
