<table id="papers" class="ui-state-default" border="1px">
    <tr>
        <th>
            Subject
        </th>
        <th>
            Students
        </th>
        <th>
			Taught by 
        </th>
    </tr>
    <% papers.each do |paper| %>
    	<%= render :partial => 'papers/paper', :object => paper %>
    <%end %>
</table>
