<% if !exam_group.id.nil? %>
<tr>
    <td class="ui-state-focus">
        <%= link_to_remote exam_group.exam_type.description + ": " + exam_group.description, :url => {:controller => :exam_groups, :action => :show, :id => exam_group} %>
    </td>
	<td>
		<%= link_to_remote 'Edit', :url => {:controller => :exam_groups, :action => 'edit_dialog_show', :exam_group_id=>exam_group}, :html => {:class => "ui-icon ui-icon-pencil", :title => 'Edit'} %>
	</td>
    <td>
        <%= link_to_remote 'Delete', :url => {:controller => :exam_groups, :action => 'destroy',:id => exam_group}, :html => {:class => "ui-icon ui-icon-trash", :title => 'Delete'}, :confirm => 'All the exams, if any, under the group will also be removed. Are you sure?' %>
    </td>
</tr>
<%else %>
<tr>
    <td>
        <blockquote>
            No exam group added yet
        </blockquote>
    </td>
</tr>
<%end %>
