<%if exam_groups.nil? || exam_groups.empty? %>
	<blockquote>
	    No class exists for the school. Click on the <b>Add Class</b>
	    link on the right to create classes.
	</blockquote>
<%else %>
    <div id="accordion" style="font-size:1em;">
        <% exam_groups.each do |klass, egs| %>
        	<%css_id="" %>
        	<%if exam_group %>
        		<%if exam_group.klass.id.to_s==klass.id.to_s %>
        			<% css_id="activate_this" %>
        		<%end %>
        	<%end %>
        <p id=css_id>
            <a href="#"><%=klass.name %></a>
        </p>
        <div id = "<%='exams_of_klass_' + klass.id.to_s%>" >
            <table id="<%=klass.id.to_s + '_content_table'%>" class="ui-state-default" border="1px" style="font-size:0.9em;">
                <%= render :partial => 'exams/exams', :object => @klass_exams[klass.id], :locals => {:entity => klass} %>
            </table>
        </div>
        <% end %>
    </div>

<%end %>
