<%if exam_groups.nil? || exam_groups.empty? %>
	<blockquote>
	    No class exists for the school. Click on the <b>Add Class</b>
	    link on the right to create classes.
	</blockquote>
<%else %>
    <div id="accordion" style="font-size:1em;">
        <% exam_groups.each do |klass, egs| %>
	        <p>
	            <a href="#"><%=klass.name %></a>
	        </p>
        	<%= render :partial => 'exams/exams', :object => @klass_exams[klass.id], :locals => {:entity => klass} %>
        <% end %>
    </div>
<%end %>
