<div id="examgroups" style="display: none;"></div>
<%exam_groups = exams.group_by{|e| e.exam_group}%>
    <% exam_groups.each do |eg, exams| %>
		<div>
			<%= render :partial => 'exams/exams', :object => exams, :locals => {:entity => entity} %>
		</div>
    <% end %>
