<!--TODO Check if this can be handled somewhere else !-->
<%exam_groups = exams.group_by{|e| e.exam_group.klass}%>

<div class="accordion">
    <% exam_groups.each do |klass, exams| %>
		<p id=<%='p_' + klass.id.to_s%>>
		    <a href="#"><%=klass.name %></a>
		</p>
		<div>
			<%= render :partial => 'exam_groups/exam_groups', :locals => {:exams => exams, :entity => entity} %>
		</div>
    <% end %>
</div>