<!--TODO Check if this can be handled somewhere else !--><%exam_groups = exams.group_by{|e| e.exam_group.klass} %>
<table class="klass-exams">
    <% exam_groups.each do |klass, exams| %>
    <tr>
        <td class="left">
            <% url = klass_path(klass) %>
            <a href="<%= url %>"><span class="level"><%= klass.level %><span class="division"><%= klass.division %></span></span></a>
        </td>
        <td class="right">
            <%= render :partial => 'exam_groups/exam_groups', :locals => {:exams => exams, :entity => entity} %>
        </td>
    </tr>
    <% end %>
</table>
