<%if !klass.subjects.empty?%>
	<% remote_form_for exam_group, :url => {:controller => :exam_groups, :action => 'create', :options => get_show_options(klass)} do |f| %>
	<%= f.error_messages%>
		<table class="center">
			<tbody>
				<%=render :partial => 'exam_groups/exam_group_form', :locals => {:exam_group => ExamGroup.new(:klass_id => klass.id), :exam_types => ExamType.all}%>
	            <tr>
	            	<th><label for="subject">Subject</label></th>
					<td align="left">
						<%= collection_multiple_select(:exam, 'subject_ids', subjects, :id, :name, {:outer_class => 'multiple_select', :inner_class => 'multiple_select_checkbox', :disabled => []}) %>
					</td>				
	            </tr>
			</tbody>
		</table>
		<div class="center">
			<%= submit_tag "Add" %>
		</div>
	<%end %>
<%else%>
	<blockquote>
		The class is not subscribed to any subject. Add subjects to the class by clicking on the <b>Add/Remove Subjects</b> link on the right & then add exams.
	</blockquote>
		
<%end%>