<fieldset align=center>
    <table class="center">
        <tr>
            <th>
                <label for="exam_type">
                    Exam Type
                </label>
            </th>
            <td>
                <%= select_tag(:new_exam_type, options_from_collection_for_select(exam_types,:id,:name,{:selected => 1}), { :style => "width: 231px"} ) %>
            </td>
        </tr>
        <tr>
            <th>
                <label for="description">
                    Description
                </label>
            </th>
            <td>
                <%= text_field_tag(:new_description, "", :size => 36) %>
            </td>
        </tr>
    </table>
	<div class="center">
    	<%=link_to_remote 'Add', :url => {:controller => 'exam_groups', :action => 'create', :id=>new}, :with => "'exam_type=' + $('new_exam_type').value + '&description=' + $('new_description').value" %>
	</div>
</fieldset>
