<div id="exams_index_div">
<%exam_group=show%>	
<div>
	<%=render :partial => "exams/exams", :object => exam_group%>
</div>

</div>


<div id="dialog_add_exam" title="Add Exam Details" style="display: none;">
    <div id="add_exam">
		<br />
    </div>
</div>
