
<div id="exams_index_div">
	<%=render :partial => "exams"%>
</div>

<div class="button ui-state-default ui-corner-all float_left">
    <div id="button_add_exam">
        <%= link_to_remote 'Add Exam', :url => {:controller => :schools, :action => 'add_exam_dialog_show', :id=>@exam_group} %>
    </div>
</div>

<div id="dialog_add_exam" title="Add Exam Details" style="display: none;">
    <div id="add_exam">
		<br />
    </div>
</div>
