<% if !exam_group.id.nil? %>
<tr>
    <td class="ui-state-focus">
        <%= link_to_remote exam_group.description, :url => {:action => :exams, :id => exam_group}, :update => "exams" %>
    </td>
    <th>
        <%= link_to_remote 'Delete', :url => {:controller => 'schools', :action => 'remove_exam_group',:id => exam_group}, :confirm => 'Are you sure?' %>
    </th>
</tr>
<%else %>
<tr>
    <td style="width: 100%">
        <blockquote>
            No exam group added yet
        </blockquote>
    </td>
</tr>
<%end %>
