<h3> Subjects for <%=@school.name%></h3>
<div id="school_subjects_list">
    <%=render :partial => 'schools/subjects_list', :object => @school.subjects%>
</div>
<div class="button ui-state-focus center"  style="float: right;">
    <%= link_to_remote 'Add Subjects',:url => {:controller => 'schools', :action => 'list_add_subjects', :id=>@school}%>
</div
<div id="school_add_subjects_dialog" title="Select subjects to add" style="display: none;">
    <%= render :partial =>'schools/list_add_subjects'%>
</div>
