<div class="c25l">
    <div id="exam_groups">
        <%=render :partial => "exam_groups_list", :object => @school %>
    </div>
</div>
<div class="c66r">
    <div id="exams">
    	<%if @exam_group%>
			<%= render :partial => "exam_index", :id=> @exams%>
		<%end%>
    </div>
</div>
<br/>
