<div class="c38l">
    <table>
        <tr>
            <td>
                <b>Name:</b>
            </td>
            <td>
                St. Teresas Admin
            </td>
        </tr>
        <tr>
            <td>
                <b>Address:</b>
            </td>
            <td>
                St Teresa's <br/>

                Convent Jn.<br/>
           
                Kochi <br/>
           
                Kerala <br/>
          
                India <br/>
            </td>
        </tr>
        <tr>
            <td>
                <b>Pincode:</b>
            </td>
            <td>
                123 
            </td>
        </tr>
        <tr>
            <td>
                <b>Phone landline:</b>
            </td>
            <td>
                234
            </td>
        </tr>
        <tr>
            <td>
                <b>Phone mobile:</b>
            </td>
            <td>
                345 
            </td>
        </tr>
        <tr>
            <td>
                <b>Email:</b>
            </td>
            <td>
                stteresas@schoolarly.com
            </td>
        </tr>
    </table>
</div>
<div class="c38r">
    <table>
        <tr>
            <td>
               <b> Name:</b>
            </td>
            <td>
                St. Teresas
            </td>
        </tr>
        <tr>
            <td>
                <b>Fax:</b>
            </td>
            <td>
                123
            </td>
        </tr>
        <tr>
            <td>
                <b>Website:</b>
            </td>
            <td>
                www.stteresas.com
            </td>
        </tr>
        <tr>
            <td>
                <b>Board:</b>
            </td>
            <td>
                State
            </td>
        </tr>
    </table>
</div>

<div class="c38r">
<p class="icaption_right">
    <br/>
    <%= link_to 'Edit', schools_path %> | <%= link_to 'Back', schools_path %>
</p>
</div>
