<%= javascript_include_tag 'schools/show' %>
<div id="school_tabs" class="tabs">
    <ul>
        <li>
            <a href="#classes-tab">Classes</a>
        </li>
        <li>
            <a href="#students-tab">Students</a>
        </li>
        <li>
            <a href="#teachers-tab">Teachers</a>
        </li>
    </ul>
    <div id="classes-tab">
    </div>
    <div id="students-tab">
        <%= render :partial => 'students/students', :object => @students %>
    </div>
    <div id="teachers-tab">
        <%=render :partial => "teachers" %>
    </div>
    <div id="invite_teacher_dialog" style="display: none;">
        <%= render :partial => 'teachers/invite_teacher_form', :locals => {:teacher => Teacher.new} %>
    </div>
</div>
