<div id="school_tabs">
    <ul>
        <li>
            <a href="#school_tabs-1">Classes</a>
        </li>
        <li>
            <a href="#school_tabs-2">Students</a>
        </li>
        <li>
            <a href="#school_tabs-3">Teachers</a>
        </li>
    </ul>
    <div id="school_tabs-1">
    </div>
    <div id="school_tabs-2">
    </div>
    <div id="school_tabs-3">
  		<%=render :partial => "teachers"%>
    </div>
	<div id="invite_teacher_dialog" style="display: none;">
        <%= render :partial => 'teachers/invite_teacher_form', :locals => {:teacher => Teacher.new} %>
    </div>
</div>
