<div id="school_tabs" class="tabs">
    <ul>
        <li>
            <a href="#classes-tab">Classes</a>
        </li>
        <li>
            <a href="#students-tab">Students</a>
        </li>
        <li>
            <a href="#teachers-tab">Teachers</a>
        </li>
        <li>
            <a href="#exams-tab">Exams</a>
        </li>
    </ul>
    <div id="classes-tab">
        <%= render :partial => 'klasses/klasses', :object => @klasses %>
    </div>
    <div id="students-tab">
        <%= render :partial => 'students/students', :object => @students %>
    </div>
    <div id="teachers-tab">
        <%=render :partial => 'teachers/teachers', :object => @teachers, :locals => {:subjects => @subjects} %>
    </div>
    <div id="exams-tab">
        <%=render :partial => 'exam_groups/exam_groups', :object => @exam_groups, :locals => {:school => @school, :exam_group => nil} %>
        <div id="dialog_add_exam" title="Add Exam" class="jquery-dialog" style ="display: none;">
            <div id="add_exam">
            </div>
        </div>
        <div id="dialog_edit_exam" title="Modify Exam" class="jquery-dialog" style ="display: none;">
            <div id="edit_exam">
            </div>
        </div>
    </div>
</div>
