<%= javascript_include_tag 'schools/show' %>

<div id="school_tabs">
    <ul>
        <li>
            <a href="#school_tabs-1">Classes</a>
        </li>
        <li>
            <a href="#school_tabs-2">Students</a>
        </li>
        <li>
            <a href="#school_tabs-3">Teachers</a>
        </li>
    </ul>
    <div id="school_tabs-1">
    </div>
    <div id="school_tabs-2">
    </div>
    <div id="school_tabs-3">
    	<h3>Teachers</h3>
        <br/>
        <% @teachers.each do |teacher| %>
        <%= link_to teacher.user.email, teacher %>
        <br/>
        <% end %>
    </div>
    <div id="invite_student_dialog" style="display: none;">
        <%= render :partial => 'students/invite_student_form', :locals => {:student => Student.new} %>
    </div>
</div>
