- render_breadcrumbs do |add|
  - add.crumb @activity.klass.school.name, @activity.klass.school
  - add.crumb @activity.klass.name, @activity.klass
  - add.crumb @activity.title
- render_actions do |add|
  - add.link "Export as excel", export_scores_path(:activity => @activity, :format => :xls)  
  - add.link "Export as pdf", export_scores_path(:activity => @activity, :format => :pdf), :popup => ['new_window','height=800,width=800']
- render_tabs do |t|
  - t.tab :title => 'Scores', :partial => 'scores/edit', :locals => {:activities => [@activity], :edit => @edit}
  - t.tab :title => 'Details', :partial => 'activities/activity', :collection => [@activity]
