%h4 Access to information anywhere/anytime
%p Schoolarly is available on any computer with an internet connection. Simply log in to www.schoolarly.com with your email id and password and get access to all information regarding your child's education
%h4 Get to know every step of your child's progress
%p As and when the school enters information into Schoolarly, you get notified by email and SMS. You will never have to worry about being out of the loop as far as  your child's education is concerned
%h4 Online calendar to check exam and event schedules
%p Forget about the school diary! Use our online calendar for managing your child's activities in school. 