%h4 Dead simple data management
%p Schoolarly offers the simplest way to store all your data in one place. Student records, assessment schedules, scores and grades, timetables, parent-teacher interactions - it's easy to store all these using a simple, intuitive user interface
%h4 No server maintenance hassles
%p Stop worrying about your servers going down or databases becoming corrupt. We host the software platform and databases so that you can focus on teaching the kids
%h4 Secure and reliable 
%p Hosted on world-class infrastructure like Amazon EC2 and Heroku, Schoolarly is reliable and scalable. The database is frequently backed up automatically to make sure you NEVER lose your data