<%exam_group=exam_list %>

<h3>Listing exams under <%=exam_group.exam_type.description + ": "%><%= in_place_editor_field "exam_group" , "description", {}, {:external_control => "edit_description", :load_text_url=> url_for(:action=>"get_exam_group_description", :id=>exam_group)}%>
<span id="edit_description" class="small_button ui-state-default ui-corner-all" style="font-size:.7em">Edit Name</span></h3>
 
<table id="editlist">
<%if !exam_group.exams.nil? && !exam_group.exams.empty? %>
	<%remote_form_for exam_group, :url => {:controller => :exams, :action => 'exam_update', :id=>exam_group }, :update => "exams" do  |f|%>
		<%exams = exam_group.exams %>
		<tr>
		   	<th>Delete</th><th>Subject</th><th>Start Time</th><th>End Time</th><th>Venue</th><th>Max Score</th><th>Pass Score</th></tr>
		</tr>
		    <fieldset>
		        <%@cb=[]%>
				<%= render :partial => 'exams/exam_item', :collection => exams %>
			</fieldset>
		</table>
		<%= link_to_function( 'Submit' , "document.forms['edit_exam_group_#{exam_group.id.to_s}'].submit()")%>
	<%end%>
<%else %>
<tr>
	<td></td>
	<td>
		<blockquote>
	    	No exam added yet.
		</blockquote>
	</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	
</tr>	
	</table>


<%end%>