<%entity = local_assigns[:school] || local_assigns[:klass] || local_assigns[:student] || local_assigns[:teacher] || local_assigns[:exam]%>

<%if exams.nil? || exams.empty?%>
	<tr>
	    <td class="ui-state-default" style="width:auto;" colspan="8"></td>
		<%if options.include?(:add_exam)%>
			<td class="ui-state-focus" >
				<%= link_to_remote 'Add Exam', :url =>  {:controller => 'exams', :action => 'new', :exam_group => exam_group, :entity_class => entity.class.name, :entity_id => entity}, :html => {:title => 'Add Exam'}%>
			</td>
		<%end%>
	</tr>		
<%else%>	
    <tr>
        <th>
            Subject
        </th>
		<th>
			Exam Date
		</th>
        <th>
            Start Time
        </th>
        <th>
            End Time
        </th>
		<th>
            Venue
        </th>
		<th>
            Max. Score
        </th>
		<th>
            Pass Score
        </th>
		<%if options.include?(:show_score)%>
			<th>Score</th>
		<%elsif options.include?(:add_exam)%>
			<td class="ui-state-focus" colspan="3">
				<%= link_to_remote 'Add Exam', :url =>  {:controller => 'exams', :action => 'new', :exam_group => exam_group, :entity_class => entity.class.name, :entity_id => entity}, :html => {:title => 'Add Exam'}%>
			</td>
		<%else%>
			<td colspan=2></td>
		<%end%>
	</tr>
	<% exams.each do |exam| %>
		<%= render :partial => 'exams/exam', :object => exam, :locals => {:options => options, get_symbol_for_local(entity) => entity } %>
	<% end %>
	
<%end%>
