<div id = "<%='exams_of_' + entity.id.to_s%>" >
	<%= is_collection_empty?(exams, 'No exam available')%>
	<% exams.each do |exam_group, exam_collection| %>
		<%= render :partial => 'exams/exam_group', :locals => {:exam_group => exam_group, :exam_collection => exam_collection, :entity => entity} %>
	<% end %>
</div>