<% exams.each do |exam_group, exam_collection| %>
	<table id="<%=exam_group.id%>" class="ui-state-default">
		<tbody id="<%= 'exam_group_' + exam_group.id.to_s%>">
		<%= render :partial => 'exams/exam_group', :locals => {:exam_group => exam_group, :exam_collection => exam_collection} %>
		</tbody>
	</table>
<% end %>
