<% exams.each do |exam_group, exam_collection| %>
	<table id="<%=exam_group.id%>" class="ui-state-default" style="width: 50%">
	    <td>
	        <%=exam_group.description + ": " + exam_group.exam_type.description%>
	    </td>
		
		<%if exam_collection.size==1 && exam_collection.first.id.nil? %>
			<tr>
			    <td class="ui-state-default">
			        <blockquote>
			            No exam added yet
			        </blockquote>
			    </td>
			</tr>
		<%else %>	
			<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
		    <tr>
		        <th>
		            Subject
		        </th>
		        <th>
		            Start Time
		        </th>
		        <th>
		            End Time
		        </th>
				<th>
		            Venue
		        </th>
				<th>
		            Max. Score
		        </th>
				<th>
		            Pass Score
		        </th>
				<td></td>
				<td></td>
				<td></td>
		    </tr>
		    <%exam_collection.each do |exam| %>
		    	<%= render :partial => 'exams/exam', :object => exam %>
			<%end %>
	 	<%end %>
	</table>
<% end %>
