<% if exams %>
<% exams.group_by{|exam| exam.name}.each do |name, ex| %>
<table class="exams">
    <tr class="heading">
        <th colspan="2">
            <h1><%= name %></h1>
        </th>
    </tr>
    <% if ex.first.assessment_type == "SA" %>
    <% ex.each do |e| %>
    <tr>
        <%= render :partial => 'exams/exam',:locals => {:entity => klass, :exam => e} %>
    </tr>
    <% end %>
    <%else %>
    <% ex.group_by {|e| e.subject.name}.each do |subject, s_exams| %>
    <table class="exams">
        <tr>
            <th colspan="2">
                <h2><%= subject %></h2>
            </th>
        </tr>
        <tbody>
            <% s_exams.each do |e| %>
            <tr>
                <%= render :partial => 'exams/exam',:locals => {:entity => klass, :exam => e} %>
            </tr>
            <% end %>
        </tbody>
    </table>
    <% end %>
    <% end %>
</table>
<% end %>
<% end %>