<div id="exam_tabs" class="tabs">
    <ul>
        <li>
            <a href="#scores-tab">Scores</a>
        </li>
        <li>
            <a href="#details-tab">Exam Details</a>
        </li>
    </ul>
	<div id="main-dialog" title="Schoolarly" class="jquery-dialog" style ="display: none;"></div>
    <div id="details-tab">
        <div id="exams">
            <%= render :partial => 'exams/exams', :object => @exams, :locals => {:entity => @exam} %>
        </div>
    </div>
	<div id="scores-tab">
        <%= render :partial => 'scores/scores' , :locals => {:exam => @exam} %>
    </div>
</div>