<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody id="schoolarlyadmins" class="schoolarlyadmins">
        <%= render :partial => 'schoolarly_admins/schoolarly_admin', :collection => schoolarly_admins%>
    </tbody>
</table>
