<div id="nav">
    <a id="navigation" name="navigation"></a>
    <div>
        <% @page_path ||= {} %>
        <% @page_path.each do |k,v| %>
        <%= if(v) then link_to(k, v) else k end %>
        <% end %>
    </div>
</div>
