<div id="nav">
    <a id="navigation" name="navigation"></a>
    <div id="breadcrumbs">
    	<% @breadcrumbs ||= [] %>
        <% @breadcrumbs.each do |a| %>
        <strong><%= if(a[1]) then link_to(a[0], a[1])+" > " else a[0] end %></strong>
        <% end %>
    </div>
</div>
