

<div id="nav">
    <a id="navigation" name="navigation"></a>
    <div class="hlist">
        <!-- main navigation: horizontal list -->
        <ul>
            <%tabs.each {|key,value| %>
            <%if key == @active_tab %>
            <li class="active">
                <strong><%=key %></strong>
            </li>
            <%else %>
            <li>
                <%= link_to key,value %>
            </li>
            <%end %>
            <%} %>
        </ul>
    </div>
</div>
