<table class="profile">
    <tr class="heading">
        <th colspan="3">
            <h1>Class Information</h1>
        </th>
    </tr>
    <tr>
        <td class="left">
            Class teacher:
        </td>
        <td class="right" colspan="2">
            <%=h klass.class_teacher.name if klass.class_teacher%>
        </td>
    </tr>
    <tr>
        <td class="left">
            Number of students:
        </td>
        <td class="right" colspan="2">
            <%=h klass.students.size %>            
        </td>
    </tr>
</table>
