<tr class="klass_<%=klass.id%>">
    <td class="ui-state-default">
        <% url = klass_path(klass) %>
        <%if ['Pre-school', 'L.K.G','U.K.G','Mont1','Mont2','Mont3'].include?(klass.level.to_s) %>
        <%=link_to "#{klass.level} - #{klass.division}",url %>
        <%else %>
        <%=link_to "#{klass.level}#{klass.division}",url %>
        <%end %>
    </td>
    <td class="ui-state-default">
    </td>
    <td class="ui-state-default">
    </td>
    <th>
        <%= link_to_remote 'Delete', :url => {:controller => 'klasses', :action => 'delete',:id => klass}, :confirm => 'Are you sure?' %>
    </th>
</tr>
