<table id="klasses" style="display: none;">
    <th>
    </th>
    <th>
        Recently Added
    </th>
    <th>
    </th>
    <tr>
        <th>
            Class
        </th>
        <th>
            ClassTeacher
        </th>
        <th>
            Students
        </th>
    </tr>
</table>
<br/>
<% klasses.each do |level, level_klasses| %>
<table id="<%=level%>" class="klasses">
    <!--<tr>
        <th>
        </th>
        <th>
            <%=level %>
        </th>
        <th>
        </th>
    </tr>
    <tr>
        <th>
            Class
        </th>
        <th>
            ClassTeacher
        </th>
        <th>
            Students
        </th>
    </tr>-->
    <%level_klasses.each do |klass| %>
    <%= render :partial => 'klasses/klass', :object => klass %>
    <%end %>
</table>
<br/>
<% end %>
