<table id="klasses" style="display: none;">
    <th>
        Recently Added
    </th>
    <tr>
        <th>
            Class
        </th>
        <th>
            ClassTeacher
        </th>
        <th>
            Students
        </th>
    </tr>
</table>
<% @klasses.each do |level, level_klasses| %>
<table id="<%=level%>">
    <th>
        <%=level %>
    </th>
    <tr>
        <th>
            Class
        </th>
        <th>
            ClassTeacher
        </th>
        <th>
            Students
        </th>
    </tr>
    <%level_klasses.each do |klass| %>
    <%= render :partial => 'klasses/klass', :object => klass %>
    <%end %>
</table>
<% end %>
