<table id="klasses" class="klasses" style="display: none;"></table>
<br/>
<% klasses.each do |level, level_klasses| %>
<table id="<%=level%>" class="klasses">
    <%level_klasses.each do |klass| %>
    	<%= render :partial => 'klasses/klass', :object => klass %>
    <%end %>
</table>
<% end %>
