<table class="sticker">
    <tr id="klasses" style="display: none;">
        <th>
            Recently Added
        </th>
    </tr>
    <% @klasses.each do |level, level_klasses| %>
    <tr id="<%=level%>">
        <th>
            <%=level %>
        </th>
        <%level_klasses.each do |klass| %>
        <%= render :partial => 'klasses/klass', :object => klass %>
        <%end %>
    </tr>
    <% end %>
</table>
