
<table class="sticker">
    <% @klasses.each do |level, level_klasses| %>
    <tr>
        <th>
            <%=level %>
        </th>
        <%level_klasses.each do |klass| %>
        <td class="ui-state-default">
            <%if ['Pre-school', 'L.K.G','U.K.G','Mont1','Mont2','Mont3'].include?(level.to_s) %>
            <%=link_to klass.division,klass_path(klass) %> 
			<%else %>
            <%=link_to "#{klass.level}#{klass.division}",klass_path(klass) %>
            <%end %>
        </td>
        <%end %>
    </tr>
    <% end %>
</table>
