<table class="sticker">
    <% @klasses.each do |level, level_klasses| %>
    <tr>
        <th>
            <%=level %>
        </th>
        <%level_klasses.each do |klass| %>
        <td id=<%=klass.id%> class="ui-state-default">
            <% url = {:url => {:controller => subjects_controller, :action => subjects_action, :id=>klass}} %>
            <%if ['Pre-school', 'L.K.G','U.K.G','Mont1','Mont2','Mont3'].include?(level.to_s) %>
            <%=link_to_remote klass.division,url %>
            <%else %>
            <%=link_to_remote "#{klass.level}#{klass.division}",url %>
            <%end %>
        </td>
        <%end %>
    </tr>
    <% end %>
</table>
