<table>
    <tr>
        <th>
            Level
        </th>
        <th>
            Division
        </th>
    </tr>
    <% @klasses.each do |klass| %>
    <tr>
        <td>
            <%=h klass.level %>
        </td>
        <td>
            <%=link_to klass.division,klass_path(klass) %>
        </td>
        <td>
            <%= link_to "Delete", klass_path(klass), :method => :delete %>
        </td>
    </tr>
    <% end %>
</table>
