<% subjects = subjects_list
if subjects && !(subjects.empty?) %>
<ol class = "sticker">
    <%subjects.each do |subject| %>
    <%= link_to_remote "Delete" , {:url => {:controller => 'klasses', :action => 'delete_subject', :id=>@klass, :subject_id => subject}},
    {:id => "#{@school.id}#{@klass.id}_#{subject.id}_delete", :class => "delete ui-icon ui-icon-circle-close", :style => "display: none;" } %>
    <li id=<%= "#{@klass.id}_#{subject.id}" %>
 class="ui-widget-content">
        <%= link_to_function subject.name do |page|
        		page.select("#subjects_list .delete").each do |item|
        			item.hide
        		end
        		page["#{@school.id}#{@klass.id}_#{subject.id}_delete"].show
        		end 
		%>
    </li>
    <%end %>
</ol>
<%else %>
<blockquote>
    No subjects are assigned to the class. Add subjects to proceed!
</blockquote>
<%end %>
