<%= hidden_field_tag :klass_id, @klass.id %>
<%if subjects && !(subjects.empty?) %>
<ol class = "sticker">
    <%subjects.each do |subject| %>
    <li id=<%= "#{@school.id}#{@klass.id}_#{subject.id}" %>
 class="ui-widget-content">
        <%= subject.name %>
    </li>
    <%end %>
</ol>
<%else %>
<blockquote>
    No subjects are assigned to the class. Add subjects to proceed!
</blockquote>
<%end %>
