<table border="0" cellpadding="0">
    <tr>
        <th>
            Class
        </th>
        <th>
            School
        </th>
        <th>
            Year
        </th>
    </tr>
    <% @klasses.each do |klass| %>
    <tr>
        <td>
            <%=link_to klass.name, klass %>
        </td>
        <td>
            <%=link_to klass.school.name, klass.school %>
        </td>
        <td>
            <%=klass.year %>
        </td>
		<td>
			<%= link_to "Delete", klass, :method => :delete, :confirm => "Are you sure?" %>
		</td>
    </tr>
    <%end %>
</table>
