<div id="klass_tabs" class="tabs">
    <ul>
        <li>
            <a href="#students-tab">Students</a>
        </li>
        <li>
            <a href="#subjects-tab">Subjects</a>
        </li>
        <li>
            <a href="#exams-tab">Exams</a>
        </li>
    </ul>
	<div id="main-dialog" title="Schoolarly" class="jquery-dialog" style ="display: none;"></div>
    <div id="students-tab">
        <%= render :partial => 'students/students', :object => @students %>
    </div>
    <div id="subjects-tab">
        <%= render :partial => 'papers/papers', :object => @klass.papers %>
    </div>
    <div id="exams-tab">
       	<%= render :partial => 'exam_groups/exam_groups', :object => @exam_groups, :locals => {:klass => @klass} %>
    </div>
</div>
