<div id="klass_tabs" class="tabs">
    <ul>
        <li>
            <a href="#students-tab">Students</a>
        </li>
        <li>
            <a href="#subjects-tab">Subjects</a>
        </li>
        <li>
            <a href="#exams-tab">Exams</a>
        </li>
    </ul>
    <div id="students-tab">
        <%= render :partial => 'students/students', :object => @students %>
    </div>
    <div id="subjects-tab">
        <%= render :partial => 'subjects/subjects', :object => @klass.subjects, :locals => {:klass => @klass, :teacher_allotments => @teacher_allotments} %>
    </div>
    <div id="exams-tab">
    	<div id="exam-dialog" title="Exam" class="jquery-dialog" style ="display: none;"></div>
		<div id="<%='exams_of_klass_' + @klass.id.to_s%>">
        	<%= render :partial => 'exams/exams', :object => @exams, :locals => {:entity => @klass} %>
		</div>
    </div>
</div>
